.header {
    background-color:#3714d4;

}

.titulo {
    padding: 5px 40px 0;
    text-align: center;
    color:white;
}

.menu-principal{
    background-color: black;
    padding: 1px;
    color:white;
}

li {
    display: inline;
    font-style: none;
    padding: 40px;
}


p {
    text-align: auto;
}

.imagem1 {
    width: 70%;
}

.artigos {
    padding: 15px;
  }
  
.secoes {
    display: inline-block;
    width: 30%;
    margin-right: 10px;
    padding: 15px;
  }
  